:root {
    --bg: #f5f5f5;
    --bg-secondary: #fcf98e;
    --text: #222;
    --text-muted: #888;
    --border: #e0e0e0;
    --line: #fd8080;
    --line-opacity: 0.6;
    --line-width: 2px;
  }
  
  .dark {
    --bg: #121212;
    --bg-secondary: #1d1d1d;
    --text: #eee;
    --text-muted: #aaa;
    --border: #333;
    --line: #eee;
    --line-opacity: 1;
    --line-width: 1px;
}


body {
    background-color: var(--bg);
    background-image: radial-gradient(circle at 1px 1px, var(--border) 1px, transparent 0);
    background-size: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    transform: scale(1.1);
    transform-origin: center;
    overflow: hidden;
}

#todo {
    border: 1px solid var(--border);
    background-color: var(--bg-secondary);
    border-radius: 0px 0px 10px 10px;
    min-width: 300px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: 0;
    background-color: black;
    color: white;
}

#title {
    padding: 10px 0;
    margin: 0px;
}

#darkMode-btn {
    height: 25px;
    background-color: transparent;
    border: none;
}

.svg {
    filter: brightness(0) invert(1);
    width: 20px;
}

#contents {
    padding: 10px;
}

#todo-filter {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: var(--text)
}

.checkbox {
    accent-color: grey;
}

.counter-element {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid;
    display: flex;
    flex-direction: row;
}

#todo-list {
    position: relative;
}

#todo-list::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    width: var(--line-width);
    background: var(--line);
    opacity: var(--line-opacity);
}

.text-area {
    margin-left: 15px;
    min-width: 200px;
    border: none;
    background: transparent;
    color: var(--text)
}

.text-area:focus {
    outline: none;
}

.delete-button {
    margin-left: 5px;
}

.button {
    background: transparent;
    border: none;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    filter: brightness(1.05);
}

.counter-element .todo-button-div {
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
}

.counter-element:hover .todo-button-div {
    opacity: 1;
    pointer-events: auto;
}

#todo-insert {
    padding-top: 5px;
}

#todo-text {
    outline: none;
    min-width: 240px;
    background-color: var(--bg);
    color: var(--text)
}

#todo-submit {
    color: var(--text);
}

.strike {
    text-decoration: line-through;
    color: var(--text-muted);
}